<template name="ta">
  <ul class="nav nav-pills">
    <li {{#if show_overview}} class="active" {{/if}}><a href="#" id="overview">Overzicht</a></li>
    <li {{#unless show_overview}} class="active" {{/unless}}><a href="#" id="signoff">Aftekenen</a></li>
  </ul>

  {{#if show_overview}}
    {{> ta_overview}}
  {{else}}

    {{#if student}}
      <h2>Je mag naar groepje...</h2>
      <p><strong>{{student.cpmGroup}}</strong>, te vinden in <strong>{{student.location}}</strong>!</p>

      <input type="button" class="btn btn-success" id="accept" value="Goedkeuren" /> <input type="button" class="btn btn-danger" id="reject" value="Afkeuren" />
    {{else}}
      <h2>Je mag even uitrusten ;)</h2>
    {{/if}}

    <hr />
    {{> student_queue}}

  {{/if}}
</template>

<template name="ta_overview">
	<table class="table table-striped" id="overview">
    <thead>
      <th>Groep</th>
      <th>SA</th>
      <th>Resultaat</th>
    </thead>
    <tbody>
      {{#each group}}
        {{> ta_overview_group}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="ta_overview_group">
  <tr class="queue-item">
    <td>{{cpmGroup}}</td>
    <td>{{assistant}}</td>
    <td>
      {{#if approvalUndefined}}
        <span class="label">Onbekend</span>
      {{else}}
        {{#if approved}}
          <span class="label label-success">Goedgekeurd</span>
        {{else}}
          <span class="label label-important">Afgekeurd</span>
        {{/if}}
      {{/if}}
    </td>
  </tr>
</template>