<template name="ta">
	<h1>De volgende CPM-groep wil afgetekend worden:</h1>
	{{student.cpmGroup}}

	<input type="button" class="btn" id="accept" value="Aannemen" />
  <table class="table table-striped" id="queue">
    <thead>
      <th>Groep</th>
      <th>Locatie</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      {{#each queue}}
        {{> taQueueItem}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="taQueueItem">
  <tr class="queue-item">
    <td>{{cpmGroup}}</td>
    <td>{{location}}</td>
    <td><a class="approve">Goedkeuren</a></td>
    <td><a class="disapprove">Afkeuren</a></td>
  </tr>
</template>